@media (min-width: $mobile) and (max-width: $tabletMobile) {
    .miniGalleryImg {

        & .description {
            padding: 50px;

            & h1 {
                color: $colorBlack;
                font-family: $fontTitle;
                font-size: 50px;
                text-align: center;
            }
    
            & p {
                color: $colorBlack;
                font-family: $fontDescription;
                font-size: 25px;
                line-height: 40px;
                text-align: center;
            }
        }
    }
    
    .publicity {
        width: 100%;
        height: 100%;
        a {
            width: 100%;
            height: 100%;
            img {
                border: $borderBlack;
                width: 100%;
                height: 100%;
            }
        }
    }
    
    .miniGalleryVideos {
        display: flex;
        flex-direction: column;
        gap: 50px;
    
        & .iframePrevia {
            border: $boderViolet;
            background-color: $colorBlack;

            width: 300px;
            height: 300px;
            position: relative;
            top: 50px;
            left: 75px;
    
            & p {
                color: $colorWhite;
                font-family: $fontTitle;
                font-size: 25px;
                text-align: center;
            }
    
            & a {

                img {
                    width: 100%;
                    height: 200px;
                }
            }
        }
    
        & .buttonMore {
            position: relative;
            top: 50px;
            left: 175px;
        }
    }

}
@media (min-width: $tabletDesktop) and (max-width: $desktop) {
    .miniGalleryImg {

        & .carousel {
            padding: 10px;
        }

        & .description {
            padding: 50px;
    
            & h1 {
                color: $colorBlack;
                font-family: $fontTitle;
                font-size: 50px;
                text-align: center;
            }
    
            & p {
                color: $colorBlack;
                font-family: $fontDescription;
                font-size: 25px;
                line-height: 50px;
                text-align: center;
            }
        }
    }
    
    .publicity {
        width: 100%;
        height: 100%;
        a {
            width: 100%;
            height: 100%;
            img {
                border: $borderBlack;
                width: 100%;
                height: 100%;
            }
        }
    }
    
    .miniGalleryVideos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    
        & .iframePrevia {
            border: $boderViolet;
            background-color: $colorBlack;

            width: 300px;
            height: 300px;
            position: relative;
            top: 75px;
            left: 20px;
    
            & p {
                color: $colorWhite;
                font-family: $fontTitle;
                font-size: 25px;
                text-align: center;
            }
    
            & a {

                img {
                    width: 100%;
                    height: 200px;
                }
            }
        }
    
        & .buttonMore {
            position: relative;
            top: 25px;
            left: 450px;
        }
    }
}
