* {
  margin: 0%;
  padding: 0%;
}

@media (min-width: 480px) and (max-width: 768px) {
  .bodyHome {
    background-image: -webkit-gradient(linear, right top, left top, from(red), color-stop(orange), color-stop(crimson), to(yellow));
    background-image: linear-gradient(to left, red, orange, crimson, yellow);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10px (1fr)[6] 10px;
        grid-template-columns: 10px repeat(6, 1fr) 10px;
    -ms-grid-rows: 100px 10px (500px)[2] 10px 200px 10px (500px)[2] 200px 300px;
        grid-template-rows: 100px 10px repeat(2, 500px) 10px 200px 10px repeat(2, 500px) 200px 300px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 1 / 1 / 2 / 9;
  }
  .miniGalleryImg {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: 3 / 2 / 5 / 8;
  }
  .publicity {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: 6 / 2 / 7 / 8;
  }
  .miniGalleryVideos {
    -ms-grid-row: 8;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: 8 / 2 / 11 / 8;
  }
  .footer {
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 11 / 1 / 12 / 9;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  .bodyHome {
    background-image: -webkit-gradient(linear, right top, left top, from(red), color-stop(orange), color-stop(crimson), to(yellow));
    background-image: linear-gradient(to left, red, orange, crimson, yellow);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15px (1fr)[4] 15px 1fr 15px;
        grid-template-columns: 15px repeat(4, 1fr) 15px 1fr 15px;
    -ms-grid-rows: 100px 15px (500px)[2] 200px 15px (500px)[2];
        grid-template-rows: 100px 15px repeat(2, 500px) 200px 15px repeat(2, 500px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 1 / 1 / 2 / 9;
  }
  .miniGalleryImg {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 3 / 2 / 6 / 6;
  }
  .publicity {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-area: 3 / 7 / 6 / 8;
  }
  .miniGalleryVideos {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-area: 7 / 2 / 8 / 8;
  }
  .footer {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-area: 8 / 1 / 9 / 9;
  }
}

@media (min-width: 480px) and (max-width: 1300px) {
  .header {
    width: 100%;
    height: 100%;
  }
  .header__nav nav div a {
    font-family: "Permanent Marker", cursive;
  }
  .header__nav nav div div div h5 {
    font-family: "Permanent Marker", cursive;
  }
  .header__nav nav div div div ul li a {
    font-family: "Gochi Hand", cursive;
  }
  .header__nav nav div div div form input {
    font-family: "Gochi Hand", cursive;
  }
  .header__nav nav div div div form button {
    font-family: "Permanent Marker", cursive;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .miniGalleryImg .description {
    padding: 50px;
  }
  .miniGalleryImg .description h1 {
    color: black;
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    text-align: center;
  }
  .miniGalleryImg .description p {
    color: black;
    font-family: "Gochi Hand", cursive;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
  }
  .publicity {
    width: 100%;
    height: 100%;
  }
  .publicity a {
    width: 100%;
    height: 100%;
  }
  .publicity a img {
    border: 2px solid black;
    width: 100%;
    height: 100%;
  }
  .miniGalleryVideos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .miniGalleryVideos .iframePrevia {
    border: 2px solid #d567d5;
    background-color: black;
    width: 300px;
    height: 300px;
    position: relative;
    top: 50px;
    left: 75px;
  }
  .miniGalleryVideos .iframePrevia p {
    color: white;
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
    text-align: center;
  }
  .miniGalleryVideos .iframePrevia a img {
    width: 100%;
    height: 200px;
  }
  .miniGalleryVideos .buttonMore {
    position: relative;
    top: 50px;
    left: 175px;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  .miniGalleryImg .carousel {
    padding: 10px;
  }
  .miniGalleryImg .description {
    padding: 50px;
  }
  .miniGalleryImg .description h1 {
    color: black;
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    text-align: center;
  }
  .miniGalleryImg .description p {
    color: black;
    font-family: "Gochi Hand", cursive;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
  }
  .publicity {
    width: 100%;
    height: 100%;
  }
  .publicity a {
    width: 100%;
    height: 100%;
  }
  .publicity a img {
    border: 2px solid black;
    width: 100%;
    height: 100%;
  }
  .miniGalleryVideos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }
  .miniGalleryVideos .iframePrevia {
    border: 2px solid #d567d5;
    background-color: black;
    width: 300px;
    height: 300px;
    position: relative;
    top: 75px;
    left: 20px;
  }
  .miniGalleryVideos .iframePrevia p {
    color: white;
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
    text-align: center;
  }
  .miniGalleryVideos .iframePrevia a img {
    width: 100%;
    height: 200px;
  }
  .miniGalleryVideos .buttonMore {
    position: relative;
    top: 25px;
    left: 450px;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .footer {
    width: 100%;
    height: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__logo {
    width: 25%;
    height: 100%;
  }
  .footer__logo a img {
    width: 100px;
    height: 100px;
    position: relative;
    top: 50px;
    left: 25px;
  }
  .footer__history {
    width: 50%;
    height: 100%;
    padding: 25px;
    color: white;
    line-height: 20px;
    text-align: center;
  }
  .footer__history h1 {
    font-size: 15px;
    font-family: "Permanent Marker", cursive;
  }
  .footer__history p {
    font-size: 5px;
    font-family: "Gochi Hand", cursive;
  }
  .footer__links {
    width: 25%;
    height: 100%;
  }
  .footer__links div {
    text-align: center;
    line-height: 75px;
  }
  .footer__links a img {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  .footer {
    width: 100%;
    height: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__logo {
    width: 25%;
    height: 100%;
  }
  .footer__logo a img {
    width: 200px;
    height: 200px;
    position: relative;
    top: 75px;
    left: 40px;
  }
  .footer__history {
    width: 50%;
    height: 100%;
    padding: 50px;
    color: white;
    text-align: center;
  }
  .footer__history h1 {
    font-size: 30px;
    font-family: "Permanent Marker", cursive;
  }
  .footer__history p {
    font-size: 15px;
    font-family: "Gochi Hand", cursive;
    line-height: 30px;
  }
  .footer__links {
    width: 25%;
    height: 100%;
  }
  .footer__links div {
    text-align: center;
    line-height: 110px;
  }
  .footer__links div a img {
    width: 50px;
    height: 50px;
  }
}
/*# sourceMappingURL=main.css.map */